# Default ignored files
/shelf/
/workspace.xml
# Ignore MySQL volume data
volume-data/

inventoryservice/volume-data/
# Ignore all volume data
inventoryservice/inventoryservice/volume-data

inventoryservice/docker/

inventoryservice/docker-compose.yml

# Ignore all Docker and runtime volume data
**/volume-data/
**/docker/
**/*.sock